In [ ]:
# Enunciado: Dada la siguiente cartera en forma de diccionario, conviértela a un DataFrame de Pandas. Luego, (a) añade una nueva columna llamada 'valor_total' que sea el resultado de acciones * precio_compra, y (b) usa .groupby() para calcular el valor total invertido por cada sector.

In [13]:
import pandas as pd

portfolio_dict = {
    'ticker': ['AAPL', 'NVDA', 'JPM', 'GOOGL', 'BAC'],
    'sector': ['Technology', 'Technology', 'Financials', 'Technology', 'Financials'],
    'acciones': [50, 25, 100, 30, 200],
    'precio_compra': [150.25, 450.70, 140.10, 135.50, 35.20]
}

In [14]:
# Creamos el df y añadimos la columna pedida en el enunciado

portfolio_df=pd.DataFrame(portfolio_dict)
portfolio_df['valor_total']=portfolio_df['acciones']*portfolio_df['precio_compra']
portfolio_df

  ticker      sector  acciones  precio_compra  valor_total
0   AAPL  Technology        50         150.25       7512.5
1   NVDA  Technology        25         450.70      11267.5
2    JPM  Financials       100         140.10      14010.0
3  GOOGL  Technology        30         135.50       4065.0
4    BAC  Financials       200          35.20       7040.0

In [15]:
# Usamos groupby

valor_total_sector = portfolio_df.groupby('sector')['valor_total'].sum()

print("--- RESULTADO FINAL: Valor Total por Sector ---")
print(valor_total_sector)

--- RESULTADO FINAL: Valor Total por Sector ---
sector
Financials    21050.0
Technology    22845.0
Name: valor_total, dtype: float64